.no-margin, .no-margin_padding{
    margin: 0;
}

.no-padding, .no-margin_padding{
    padding: 0;
}

.no-decoration, .no-decoration:hover{
    text-emphasis: none;
    text-decoration: none;
    list-style: none;
}

.viejo{
    display: none;
}

p{
    margin: 0;
}


body{
    background-color: rgb(54, 123, 212);
    color: #000000;
    font-family: 'Readex Pro', sans-serif;
    text-align: center;
    padding-top: 90px;
}

/*HEADER*/
    .header-logo-a, .header-logo-a:hover{
        text-emphasis: none;
        text-decoration: none;
        color: #131313;
        display: flex;
        height: 100%;
        align-items: center;
    }

    header.v1-1{
        display: flex;
        align-items: center;
        padding-left: 20px;
        height: 90px;
        background-color: #205396;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100000;
    }

    .header-logo{
        height: 90%;
    }

    .header-logo .rubik-logo{
        height: 100%;
    }

    .header-logo .titulo{
        display: inline;
        font-size: 60px;
        font-family: 'Teko', sans-serif;
        font-weight: bold;
        color: #131313;
        margin: 9px 0 0 0;
    }


    .nav-bar{
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: 55px;
    }

    .nav-item p, .nav-item p:hover{
        text-decoration: none;
        font-size: 17px;
    }

    .nav-item p{
        color: #131313;
        white-space: nowrap;
    }

    div.nav-item{
        padding: 5px 22px;
    }

    .nav-item{
        transition: all .5s;
    }

    .nav-item:hover{
        background-color: #1d4477;
        color: #000;
    }

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(0, 8, 24);
    text-align: center;
    margin: 50px 0 25px 0;
    font-size: 30pt;
}

h3{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(0, 8, 24);
    text-align: center;
    font-size: 20pt;
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 10px;
}

h4{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(0, 8, 24);
    text-align: center;
}

h5{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(0, 8, 24);
    text-align: center;
}

.card{
    box-shadow: 2px 2px 6px #0004;
    border: none;
}

.main-section{
    text-align: center;
    margin: 30px 0;
    padding: 0 10%;
}

p{
    font-family: 'Readex Pro', sans-serif;
    text-align: center;
}

li{
    font-family: 'Readex Pro', sans-serif;
    text-align: center;
}

a, a:hover{
    color: rgb(0, 12, 66);
    text-decoration: underline;
}

ul, ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.rubik-p{
    font-family: 'Teko', sans-serif;
    font-size: 145%;
    font-weight: bold;
    color: #131313;
}

.rubik-logo-p{
    height: 35px;
}

/*FOOTER*/
    .footer-web-info{
        width: 40%;
    }

    .footer-versions-info, .footer-redes{
        width: 30%;
    }

    footer{
        background-color: rgb(35, 83, 145);
        padding: 20px 10% 25px 10%;
        display: flex;
        border-top: 3px solid #1a4274;
    }

    .footer-logo-a,  .footer-logo-a:hover{
        text-emphasis: none;
        text-decoration: none;
        color: #131313;
    }

    .footer-logo-container{
        display: flex;
        height: 45px;
        align-items: center;
    }

    .footer-logo-img{
        height: 100%;
    }

    .footer-logo-text{
        display: inline;
        font-size: 39px;
        font-family: 'Teko', sans-serif;
        font-weight: bold;
        color: #131313;
        margin: 7px 0 0 0;
    }

    .footer-text, .footer-link, .footer-list-item{
        text-align: left;
        font-size: 12px;
    }

    .column1, .column2, .column3{
        text-align: left;
    }

    h5.footer-title{
        text-align: left;
        margin-bottom: 18px;
    }

    .column1{
        padding-right: 15px;
    }
    
    .column1-text span::after{
        content: " ";
    }

    .column3-link, .column3-link:hover{
        color: #000;
    }

    .column3-link i{
        margin-right: 5px;
        position: relative;
        font-size: 14px;
        top: 2px;
        border-radius: 4px;
        transition: .3s;
    }

    .column3-list{
        display: block;
    }

    .column3-list-item{
        position: relative;
        display: list-item;
    }

    .column3-list-item a{
        position: relative;
        z-index: 200;
    }

    .footer-ig:hover i{
        background: linear-gradient(45deg, rgba(249,217,0,1) 0%, rgba(248,1,3,1) 40%, rgba(221,19,65,1) 60%, rgba(124,53,174,1) 100%);
        color: #fff;
        padding: 2px;
        top: 1px;
    }

    .footer-ig:hover .footer-ig-fondo_blanco{
        height: 17px;
        width: 122px;
        top: 2px;
        z-index: 100;
        opacity: 1;
    }

    .footer-ig-fondo_blanco{
        height: 17px;
        width: 17px;
        background: #fff;
        border-radius: 23px;
        position: absolute;
        top: 2px;
        z-index: -1;
        opacity: 0;
        transition: .3s;
    }

    .footer-ig:hover{
        margin-bottom: 5px;
    }

    .footer-ig{
        transition: .3s;
    }

    .footer-mail:hover i{
        background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(43,43,43,1) 100%);
        color: #fff;
        padding: 3px;
        top: 1px;
    }

    .footer-mail:hover .footer-mail-fondo_blanco{
        height: 17px;
        width: 205px;
        top: 2px;
        z-index: 100;
        opacity: 1;
    }

    .footer-mail-fondo_blanco{
        height: 17px;
        width: 17px;
        background: #fff;
        border-radius: 23px;
        position: absolute;
        top: 2px;
        z-index: -1;
        opacity: 0;
        transition: .3s;
    }
    
/*Estilo de páginas de celulares*/

.img-celular{
    width: 100%;
    height: 280px;
    object-fit: cover;
    margin-bottom: 15px;
}

.info-variaciones-ul, .info-variaciones-ul-item, .info-variaciones-p{
    display: inline;
}

.btn_container{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}