.cards-list{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/*

.popular_card:hover{
    width: 185px;
}

.popular_card:hover p{
    font-size: 10.3pt;
}

*/

.popular_card-text, .mas_vendidos_card-text{
    font-size: 10pt;
    margin-bottom: 10px;
    transition: .3s;
}

.popular_card-img-top, .mas_vendidos_card-img-top{
    width: 180px;
    height: 110px;
    object-fit: contain;
    position: relative;
    z-index: 200;
    background: #fff;
}

.popular_card-body, .mas_vendidos_card-body{
    padding: 5px 16px;
    background: #fff;
    position: relative;
    z-index: 200;
}

.popular_card, .mas_vendidos_card{
    width: 180px;
    margin: 0 20px;
    transition: .3s;
}

.popular_card-details, .mas_vendidos_card-details{
    position: relative;
    margin-bottom: -60px;
    top: -66px;
    transition: .25s;
    z-index: 80;
}

.card.popular_card:hover > .card-footer > .card-details, .card.mas_vendidos_card:hover > .card-footer > .card-details {
    top: 0;
    margin-bottom: 8px;
}

.marcas_card{
    width: 130px;
    margin: 0 20px;
}

.marcas_card-img-top{
    padding: 10px;
    width: 130px;
    height: 110px;
    object-fit: contain;
}

.en-desarrollo-img{
    padding: 20px;
}

.en-desarrollo_card, .en-desarrollo_card .card-footer, .en-desarrollo_card .card-body, .en-desarrollo_card .card-img-top {
    background: #ffffff12;
}

.en-desarrollo_card > .card-footer > .btn:hover {
    background: #ffffff4f;
}

.en-desarrollo_card > .card-footer > .btn {
    background: #ffffff1f;
}