.card{
    width: 70%;
    margin-top: 20px;
}

.alert{
    width: 70%;
}

section.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    margin-top: 600px;
}